.img_portada{
    width:100%;
    height:55vh;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

.img_perfil{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative; 
    bottom: 100px;
    left: 50px;
}

.img_container{
    min-height: 90%;
    width: 100%;
    padding: 1px;
    margin: 1px;
}

.info_perfil{
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-template-rows: auto;
    /* margin-bottom: 10px; */
    height: 30vh;
    bottom: 14vw;
    position: relative;

}
.text_titulo{
    height: 28vh;
    width: 300px;
    margin: 0px;
    display: flex;
    align-items: flex-end;
    text-align: center;
}